---

// export interface Props {
//     nomMaison: string;
//     adresse: string;
//     prix: number;
//     surface: number;
//     nbChambres: number;
//     nbSdb: number;
//     favori: boolean;
//     imgUrl: string;
//     id?: string;
// }

const { nomMaison, adresse, prix, surface, nbChambres, nbSdb, favori, imgUrl, id} = Astro.props;
---
<div class="border rounded-lg shadow-md p-4 m-4 max-w-sm">
    <div class="p-4">
        <img src={imgUrl} alt={nomMaison} class="w-full h-48 object-cover rounded-lg" />
        <h2 class="text-2xl font-bold mb-2">{nomMaison}</h2>
        <p class="text-blue-300"><strong>Adresse:</strong> {adresse}</p>
        <p class="text-blue-300"><strong>Prix:</strong> {prix} €/mois</p>
        <p class="text-blue-300"><strong>Surface:</strong> {surface} m²</p>
        <p class="text-blue-300"><strong>Chambres:</strong> {nbChambres}</p>
        <p class="text-blue-300"><strong>Salles de bain:</strong> {nbSdb}</p>
        {favori && <p class="text-pink-500 font-bold">★ Favori</p>}
        <a href={`/offres/${id}`}>Voir plus</a>
    </div>
    <a href={`/offres/add`}>Ajouter une</a>
</div>


