---
import { getOffre } from '../../backend.mjs';
import Base  from '../../layouts/Base.astro';
export const prerender = false;
const { id } = Astro.params;
const offre = await getOffre(id);
---

<Base titre={offre.nomMaison}>
    <div class="border rounded-lg shadow-md p-4 m-4 max-w-sm">
        <div class="p-4">
            <h2>{offre.nomMaison}</offre>
            <p class="text-blue-300">{offre.adresse}</li>
            <p class="text-blue-300">{offre.prix} €/mois</li>
            <p class="text-blue-300">{offre.surface} m²</li>
            <p class="text-blue-300">{offre.nbChambres} chambres</li>
            <p class="text-blue-300">{offre.nbSdb} salles de bain</li>
            <p class="text-blue-300">{offre.adresse}</li>
            <p class="text-blue-300">{offre.favori && '★ Favori'}</li>
        </div>
    </div>
</Base>